.wpt_widget_content {
    position: relative;
    
}
.wpt_widget_content img {
    max-width: 100%;
    height: auto; width: 100%;
}
.wpt_widget_content a {
    color: #444;
}
.wpt_widget_content ul.wpt-tabs li {
    list-style: none;
    display: block;
    width: auto; 
    float: left;
    text-align: center;
    margin: 0;
    
}
.wpt_widget_content ul.has-1-tabs li {
    width: 100%;
    float: none;
    margin: 0 auto;
}
.wpt_widget_content .tab_title:last-child a{border-right: 1px solid #E4E4E4;}
.wpt_widget_content .tab_title a {
    display: block;
    background: #ffffff;
    border-left: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    padding:6px 20px;
    text-transform: uppercase;
    text-decoration: none;    
    font-weight: bold;

}

.wpt_widget_content .tab_title.selected a {
    background: #0099ff; color: #fff;
}
.wpt_widget_content .inside {
    background: #fff;
    padding-top: 35px; width: 100%;
    display: inline-block;
}
.wpt_widget_content .tab-content li {
    list-style-type: none;
    float: left;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 11px 0;
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid #E4E4E4;
    text-align: left;
    color: #444;
    background: none;
    position: relative;
}
.wpt_widget_content .tab-content li:last-child {
    border: none;
    margin-bottom: 0;
}
.wpt_widget_content .tab-content li:first-child {
    padding-top: 5px;
}

.wpt_thumb_small {
    float: left;
    margin-right: 12px;
    padding-top: 4px;
    width: 65px;
    height: 65px;
    overflow: hidden;
}
.wpt_thumb_large {
    float: none;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 4px;
    position: relative;
}
.wpt_widget_content .entry-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.wpt_widget_content .wpt-postmeta, .wpt_comment_content, .wpt_excerpt {
    color: #999;
    font-size: 13px;
}
.wpt_widget_content .wp-post-image {
    margin: 0 !important;
}

/* Comments */
.wpt_avatar {
    margin-right: 10px;
    float: left;
    margin-top: 4px;
}
.wpt_comment_content p, .wpt_excerpt p {
    margin-bottom: 0;
}
.wpt_comment_meta {
    font-weight: bold;
}

/* Tags tab */
.wpt_widget_content #tags-tab-content {
    padding-bottom: 10px;
}
.wpt_widget_content #tags-tab-content ul {
    margin: 0;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    font-size: 0;
    line-height: 0;
}
.wpt_widget_content #tags-tab-content ul li {
    width: auto;
    color: #fff;
    margin-bottom: 0;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 3px 3px 0 0;
    float: none;
    font-size: 13px;
}
.wpt_widget_content #tags-tab-content ul li a {
    padding: 12px 10px;
    background: #f0f0f0;
    white-space: nowrap;
    display: block;
}

/* Pagination */
.wpt_widget_content .wpt-pagination {
    margin: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 15px;
    float: left;
}
.wpt_widget_content .wpt-pagination a {
    margin: 0 15px;
}
.wpt-pagination a.next {
    float: right;
}

/* Loading... */
.wpt-loading {
    min-height: 120px;
}
.wpt-loading:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 11;
}
.clear {
    clear: both;
}

.wpt-loading:after {
    content: "";
    margin: 0 auto 3em auto;
    font-size: 10px;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 12;
    text-indent: -9999em;
    border-top: 0.4em solid rgba(0, 0, 0, 0.2);
    border-right: 0.4em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.4em solid rgba(0, 0, 0, 0.2);
    border-left: 0.4em solid #000;
    -webkit-animation: load8 0.5s infinite linear;
    animation: load8 0.5s infinite linear;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

@-webkit-keyframes load8 { 
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 { 
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
ul.wpt-tabs{margin: 0;}

.txtcat{color: #333333; font-weight: 500; font-size: 1em;    float: left;
    line-height: 35px;
    margin-right: 35px;}
.wpt-left{padding-left: 0;} .wpt-right{ padding-right: 0;}
.nbt-tabcontent .grid-title{color: #444; font-size: 1em; font-weight: bold;}
.nbt-tabcontent .entry-media{margin-bottom: 15px;}
.nbt-tabcontent .wpt-excerpt{margin-top: 15px;
    line-height: 17px;}
.wpt-left-items{padding-left: 0; padding-right: 0; border-bottom: 1px solid #cccccc; margin-bottom: 15px; 
    padding-bottom: 3px;}
    .wpt-left-items .entry-media{    max-height: 198px;
    overflow: hidden;}
.wpt-left-items:last-child{border-bottom: none;}
.wpt-left-items span.author:before{
    content: "\f007";
    font-family: FontAwesome; font-size: 18px;
    background: #0099ff; color: #fff;
    padding: 5px 8px;
    margin-right: 10px;
}
.wpt-left-items span.author:after{
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
}
.wpt-excerpt{color: #666666; font-size: 1em;}
@media screen and (min-width: 768px ){
	.wpt-right-items.item-even{padding-right: 0;}
	.wpt-right-items.item-odd{padding-left: 0; clear: both;}
}
.wpt-right-items span.wpt-date:after{content: "|";
    margin-right: 10px;
    margin-left: 10px;}
.wpt-right-items{border-bottom: 1px solid #cccccc;    padding-bottom: 15px;
    margin-bottom: 15px;}
.nbt-tabcontent .wpt-left-items .grid-title{text-transform: uppercase;}
.wpt-right-items.item-last{border-bottom: none;}
.wpt-right-items .entry-media{height:91px; overflow: hidden;}